/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/*
!/project/project/plugins.sbt
/project/target/
/target/

# Eclipse
/.classpath
/.project
/.settings
/.cache-main
/.cache-tests

*.class
*.log

# sbt specific
.cache
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# idea
.idea

#Bloop
.bloop-config

# mac
.DS_Store
